@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?40v4z2');
  src:  url('fonts/icomoon.eot?40v4z2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?40v4z2') format('truetype'),
    url('fonts/icomoon.woff?40v4z2') format('woff'),
    url('fonts/icomoon.svg?40v4z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-flickr:before {
  content: "\e922";
}
.ico-brand:before {
  content: "\e922";
}
.ico-social:before {
  content: "\e922";
}
.ico-pinterest:before {
  content: "\e91f";
}
.ico-youtube:before {
  content: "\e920";
}
.ico-vimeo:before {
  content: "\e921";
}
.ico-phone:before {
  content: "\e91c";
}
.ico-google:before {
  content: "\e914";
}
.ico-linkedin:before {
  content: "\e915";
}
.ico-instagram:before {
  content: "\e916";
}
.ico-twitter:before {
  content: "\e917";
}
.ico-facebook:before {
  content: "\e918";
}
.ico-finder:before {
  content: "\e919";
}
.ico-chevron-left:before {
  content: "\e91e";
}
.ico-chevron-right:before {
  content: "\e91d";
}
.ico-envelop:before {
  content: "\e91b";
}
.ico-brand:before {
  content: "\e91a";
}
.ico-delivery-1:before {
  content: "\e900";
}
.ico-delivery-2:before {
  content: "\e901";
}
.ico-letter-box:before {
  content: "\e902";
}
.ico-mail-alert:before {
  content: "\e903";
}
.ico-mail-and-post:before {
  content: "\e904";
}
.ico-mail-and-quote:before {
  content: "\e905";
}
.ico-mail-browser:before {
  content: "\e906";
}
.ico-mail-minus:before {
  content: "\e907";
}
.ico-mail-newspaper:before {
  content: "\e908";
}
.ico-mail-open-1:before {
  content: "\e909";
}
.ico-mail-open-2:before {
  content: "\e90a";
}
.ico-mail-pc:before {
  content: "\e90b";
}
.ico-mail-plus:before {
  content: "\e90c";
}
.ico-mail-question:before {
  content: "\e90d";
}
.ico-mail-recycle:before {
  content: "\e90e";
}
.ico-mail-shadow:before {
  content: "\e90f";
}
.ico-mail-speed-1:before {
  content: "\e910";
}
.ico-mail-speed-2:before {
  content: "\e911";
}
.ico-post-1:before {
  content: "\e912";
}
.ico-post-2:before {
  content: "\e913";
}