<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="1.10.1">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="false" />
  <urlRewrite enabled="true" forcewwwUrls="Ignore" useTrailingSlashProperty="false" />
  <redirectConfig storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="false" />
  <notFoundConfig enabled="true" />
  <robotsTxt enabled="false" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>aboutPage</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>contactPage</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>gatewayPage</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>home</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>service</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>services</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>sitemap</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>textPage</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>seoTitle</documentTitleProperty>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>seoDescription</documentDescriptionProperty>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <emailConfiguration />
  <rootNodeSettings />
  <validationConfig validateAltAttributesOnTemplate="false" />
  <keywordSelectionUrl>https://adwords.google.com/ko/KeywordPlanner/Home</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>