@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var ImageId = Model.Content.GetPropertyValue("bannerImage");
	var ImageMedia = Umbraco.Media(ImageId);
	var ImageNullChecked = ImageMedia != null ? ImageMedia.Url : " ";

	String Title = Model.Content.GetPropertyValue<string>("bannerTitle");
	var TitleNullChecked = !string.IsNullOrWhiteSpace(Title) ? Title : "Creative Solutions For Your Mailing ";

	String SubTitle = Model.Content.GetPropertyValue<string>("bannerSubTitle");
	var SubTitleNullChecked = !string.IsNullOrWhiteSpace(SubTitle) ? SubTitle : "";
}

<div class="c-banner c-banner__background-image" style="background-image: url(@ImageNullChecked);">
	<div class="o-wrap o-wrap--large">
		<div class="c-banner__content-wrapper">
			<div class="c-banner__content">
				<h2 class="c-banner__heading o-heading u-tera --no-underlay">@TitleNullChecked</h2>
				<p class="c-banner__text">@SubTitleNullChecked</p>
				<div class="c-banner__links">
					<a href="#" class="c-banner__link c-button--primary">
						<i class="c-banner__icon"></i>
						<span class="c-banner__link-text">Direct Mail</span>
					</a>
					<a href="#" class="c-banner__link c-button--primary">
						<i class="c-banner__icon"></i>
						<span class="c-banner__link-text">Printing & Polywrapping</span>
					</a>
					<a href="#" class="c-banner__link c-button--primary">
						<i class="c-banner__icon"></i>
						<span class="c-banner__link-text">Postage</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
