<div class="c-banner c-banner__background-image" style="background-image: url(assets/img/homepage-banner.jpg);">
	<div class="o-wrap o-wrap--large">
		<div class="c-banner__content-wrapper">
			<div class="c-banner__content">
				<h2 class="c-banner__heading o-heading u-tera --no-underlay">Creative Solutions For Your <strong>Mailing</strong></h2>
				<p class="c-banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
				<div class="c-banner__links">
					<a href="#" class="c-banner__link c-button--primary">
						<i class="c-banner__icon"></i>
						<span class="c-banner__link-text">Direct Mail</span>
					</a>
					<a href="#" class="c-banner__link c-button--primary">
						<i class="c-banner__icon"></i>
						<span class="c-banner__link-text">Printing & Polywrapping</span>
					</a>
					<a href="#" class="c-banner__link c-button--primary">
						<i class="c-banner__icon"></i>
						<span class="c-banner__link-text">Postage</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
