/* ===========================================================

	# Free Content

=========================================================== */
.s-free-content {
	h2,
	h3,
	h4,
	h5,
	h6 {
		clear: both;
	}
}
@include respond-min( $mq-small ) {
	.s-free-content {
		.o-table {
			margin: $padding-medium / 2 0;
		}
	}
}

@include respond-min( $mq-medium ) {
	.s-free-content {
		.o-table {
			margin: $padding-large / 2 0;
		}
	}
}
