@using TMP.Core.Models.Components
@inherits UmbracoViewPage<QuoteViewModel>
@{
	if(Model.Quote == null){
		return;
	}
	var highlightClass = "";
	if(Model.Highlight == true){
		highlightClass = "is--highlighted";
	}
	var alignment = !string.IsNullOrEmpty(Model.Alignment) ? Model.Alignment.ToLower() : "default";
    if (alignment == "full width")
    {
        alignment = "full";
    }
    var alignmentClass = "o-align--" + alignment;
}

<blockquote class="c-quote @highlightClass @alignmentClass">
	<h2 class="c-quote__heading u-uppercase u-beta c-block__heading c-section o-heading">@Model.Quote</h2>
	@if(!string.IsNullOrWhiteSpace(Model.Source))
	{
		<footer>
			<p class="c-quote__source">@Model.Source</p>
		</footer>
	}
</blockquote>