/* ===========================================================

	# Form

=========================================================== */
$line-height-half: $line-height / 4;

.o-form__fieldset {
	position: relative;
}

.o-form__field {
	& + & {
		margin-top: $line-height;
	}
}

.o-input,
.o-select select,
.o-textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.o-input-wrap {
	position: relative;
}

.o-validation {
	display: none;
	font-size: 1.2rem;
	position: absolute;
	right: 0;

	.is-valid & {
		display: block;
		color: $success;
	}

	.is-invalid & {
		display: block;
		color: $error;
	}
}

.field-validation-error {
	color: $red;
	// position: absolute;
	// bottom: -2.2rem;
	font-size: 1.4rem;
}

//= LABEL ====================================================

.is-required {

	.o-label {
		&:after {
			content: "*";
			color: $red;
			margin-left: .2rem;
		}
	}

}

.no-enhance {

	.o-label {
		font-weight: $bold;
		padding-bottom: $line-height / 4;
	}

	.o-label__note {
		color: $border-colour;
		float: right;
		font-size: .8em;
		font-style: italic;
	}

}

.o-form--basic {

	.o-label {
		font-weight: $bold;
		padding-bottom: $line-height / 4;
		font-size: 1.4rem;
	}

}

.enhance {

	.o-label--compact-select {
		color: $light-1;
		font-size: 1.2rem;
		position: absolute;
		transform: translate( 0, -100% );
		padding-bottom: 0;
	}

	.o-form__field--compact {
		position: relative;

		.o-label {
			color: $light-1;
			font-size: 1.6rem;
			position: absolute;
			top: .4rem;
			padding: 0;
			transform: translate( 2rem, 50% );
			transition: color $speed $ease,
						transform $speed $ease,
						font-size $speed $ease;
			will-change:color,
						transform,
						font-size;
		}

		input,
		textarea {

			&:focus {

				& + .o-label {
					font-size: 1.2rem;
					transform: translate( 0, -105% );
				}

			}

		}

		&.has-value {

			.o-label {
				font-size: 1.2rem;
				transform: translate( 0, -100% );
			}

		}

	}

	.o-form--invert .o-form__field {

		input,
		textarea {
			background-color: $white;

			&:focus {

				& + .o-label {
					color: $white;
				}

			}

		}

		&.has-value {

			.o-label {
				color: $white;
			}

		}


	}

}


//= SELECT ===================================================

.o-select {
	position: relative;
	vertical-align: middle;
	z-index: 1;
	background-color: $white;

	select {
		position: relative;
		text-indent: .01px;
		text-overflow: '';
		z-index: 1;

		&::-ms-expand {
		    display: none;
		}

		.lt-ie10 & {
			padding-right: 1rem;
		}
	}

	&:after {
		background: $background-colour;
		border-radius: 0 $border-radius - $border-width $border-radius - $border-width 0;
		box-sizing: border-box;
		color: $border-colour;
		content: '\25BE';
		display: block;
		height: calc( 100% - .2rem );
		padding: 1rem 1.5rem;
		position: absolute;
		pointer-events: none;
		right: $border-width;
		top: $border-width;
		z-index: 0;

		.lt-ie10 & {
			display: none;
		}
	}
}

// FireFox 30 hide native down arrow
:-moz-any( .o-select ):after {
	z-index: 1;
}


//= FIELDSET =================================================

.o-fieldset__legend {
	font-weight: $bold;
	padding-bottom: $line-height / 4;
	width: 100%;
	float: left;
	clear: both;

	.o-label__note {
		float: none;
	}

}

.o-fieldset__list {
	list-style: none;
}

.o-fieldset__item {
	margin: 0;

	.o-label {
		font-weight: normal;
	}

	input {
		margin: 0 .5rem 0 0;
		width: auto;
	}

}

.no-enhance {

	.o-checkbox__input {
		width: auto;
	}

	.o-checkbox__input,
	.o-checkbox__label,
	.o-radio__label {
		display: inline-block;
	}

}

.enhance {

	.o-checkbox,
	.o-radio {
		text-align: left;
		font-weight: normal;
		padding: $line-height-half $line-height-half $line-height-half 3rem;
		position: relative;

		.o-checkbox__label,
		.o-radio__label {
			color: $pri;
		}

		.o-checkbox__label:before,
		.o-radio__label:before {
			content: "";
			width: 2rem;
			height: 2rem;
			background: $white;
			border: $border-width solid $border-colour;
			box-sizing: border-box;
			content: '';
			position: absolute;
			top: $line-height-half;
			left: 0;
			transition: background-color $speed $ease,
						border-color $speed $ease;
		}

		.o-checkbox__input,
		.o-radio__input {
			display: none;

			&:checked {

				+ .o-checkbox__label:before,
				+ .o-radio__label:before {
					background-color: $pri;
					border-color: $pri;
				}

				+ .o-checkbox__label:after {
					opacity: 1;
				}

				+ input[type="hidden"] {

					+ .o-checkbox__label:before,
					+ .o-radio__label:before {
						background-color: $pri;
						border-color: $pri;
					}

					+ .o-checkbox__label:after {
						opacity: 1;
					}

				}

			}

		}

		.o-checkbox__label:after {
			content: "";
			opacity: 0;
		    position: absolute;
		    width: 9px;
		    height: 4px;
		    background: transparent;
		    top: 4px;
		    left: 4px;
		    border: 3px solid $white;
		    border-top: none;
		    border-right: none;
		    transform: rotate(-45deg);
			top: 1.1rem;
			transition: opacity $speed $ease;
		}

		.o-radio__label:before {
			border-radius: 50%;
		}

	}

	.o-label--radio {
		&:after {
			border-radius: 100%;
		}
	}

	.is-disabled {

		.o-checkbox__label,
		.o-radio__label {

			&:before {
				background-color: $disabled;
			}

		}
	}

}


//= BUTTON ===================================================

.o-input + .c-button,
.o-select + .c-button,
.o-textarea + .c-button {
	margin-top: $line-height * 2;
}

@include respond-max( $mq-medium ) {

	.enhance {

		.o-fieldset__item + .o-fieldset__item {
			// margin-top: $padding-small / 2;
		}

	}

}
