@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}
<div class="c-page__wrapper">
    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
    @Html.Partial("~/Views/Partials/Components/ContactDetails.cshtml")
    @Html.Partial("~/Views/Partials/Page/Newsletter.cshtml")
    @Html.Partial("~/Views/Partials/Page/Accreditations.cshtml")
</div>
