@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main class="o-page__inner u-clearfix" role="main">
    @Html.Partial("~/Views/Partials/Home/Banner.cshtml")
	<div class="c-block u-clearfix">
		@Html.Partial("~/Views/Partials/Home/LastWeek.cshtml")
	    @Html.Partial("~/Views/Partials/Home/ClientReviews.cshtml")
	</div>
    @*@Html.Partial("~/Views/Partials/Home/FeaturedContent.cshtml")*@
</main>
