@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main class="o-page__inner" role="main">
    @Html.Partial("~/Views/Partials/Home/Banner.cshtml")
    <div class="o-section"></div>
    @Html.Partial("~/Views/Partials/Home/FeaturedContent.cshtml")
</main>
