@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<div class="c-page__wrapper">
	<main class="o-page__inner u-clearfix" role="main">
		@Html.Partial("~/Views/Partials/Page/Services/ServiceItem.cshtml")
	    @Html.Partial("~/Views/Partials/Home/FeaturedContent.cshtml")
	</main>
	@Html.Partial("~/Views/Partials/Page/Newsletter.cshtml")
	@Html.Partial("~/Views/Partials/Page/Accreditations.cshtml")
</div>
