@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}

<main class="o-page__inner" role="main">
    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
    @Html.Partial("~/Views/Partials/Page/Components.cshtml")
</main>
