.c-accordion_item{
	display: inline-block;
	width: 100%;
	margin-bottom: 2rem;
	.c-accordion__content{
		max-height: 0;
		overflow: hidden;
		transition: $ease $speed max-height;
		float: left;
		width: calc(100% - 6rem);
		box-sizing: border-box;
		padding-left: 2.5rem;
	}
	&.js-active{
		.c-accordion__content{
			max-height: 2000px;
		}
		.c-accordion__button{
			background-color: $pri;
		}
		.plus{
			transform: scale(0);
		}
		.minus{
			transform: scale(1);
			&::before{
				background-color: white;
			}
		}
	}
}
.c-accordion__button{
	border: 1px solid lighten($light-1,40);
	width: 60px;
	height: 60px;
	border-radius: 5px;
	display: block;
	float: left;
	cursor: pointer;
	position: relative;
	transition: $ease $speed background-color;
	.plus,.minus{
		transition: $ease $speed all;
		float: left;
	}
	.plus{
		transform: scale(1);
		display: block;
		position: relative;
		left: calc(50% - 9px);
		top: calc(50% - 1px);
		&::before,&::after{
			content: "";
			position: relative;
			width: 18px;
			height: 2px;
			background-color: $light-1;
			display: block;
		}
		&::after{
			transform: rotate(90deg);
			margin-top: -2px;
		}
	}
	.minus{
		display: block;
		position: absolute;
		left: calc(50% - 9px);
		top: calc(50% - 1px);
		&::before{
			content: "";
			position: relative;
			width: 18px;
			height: 2px;
			background-color: $light-1;
			display: block;
		}
	}
}
.c-accordion__header{
	display: inline-block;
	padding-left: 2.5rem;
	padding-top: 1.5rem;
}
