.c-banner {
    position: relative;
	overflow: hidden;
}

.c-banner__background-image-wrap {
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: #f2f2f2;
    top: 0;
    left:0;
    z-index: -2;
}

.c-banner__background-image {
    background-size: cover;
    height: 100%;
    transition: margin-top $ease $speed;
}

.c-banner__col {
    .c-banner__col--content {
        margin-left: 60rem;
        width: 50%;
        padding: 22rem 0 10rem 0;
    }

    .c-banner__heading span {
        color: $pri;
    }
}

.c-banner__links {
	margin-top: 4em;
}

.c-banner__link {
	padding: 1rem 2rem;
	margin-right: 2rem;
	border-radius: 6px;
	transition: $ease $speed background-color,
				$ease $speed color;

	i {
		font-size: 3rem;
		margin-right: 2rem;
	}

	&:last-child{
		margin-right: 0;
	}

	&:hover,
	&:focus{
		color: white;
		background-color: darken($pri,20);
		border-color: darken($pri,30);
	}

}

.flexbox {

	.c-banner__links {
		display: flex;
	}

	.c-banner__link {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 33.3333%;
	}

}

.no-flexbox {

	.c-banner__link {
		display: table;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.c-banner__link-text {
		position: relative;
		top: -6px;
	}

}

@include respond-min ( $mq-large ) {
    .c-banner__col {

        .c-banner__col--content {
            background-color: $white;

            &::before {
                content: "";
                width: 50rem;
                height: calc(100% + 15rem);
                background-color: white;
                display: block;
                position: absolute;
                bottom: -15rem;
                left: 52%;
                transform: rotate(25deg) translate(-52%, 15rem);
            }

            &::after{
                content: "";
                display: block;
                width: 52rem;
                height: 30rem;
                background-color: $pri;
                opacity: .8;
                position: absolute;
                top: -27rem;
                left: 40%;
                transform: rotate(25deg) translate(-40%, 20rem);
                z-index: -1;
            }
        }

    }
}

@include respond-max ( $mq-x-large ){
    .c-banner__col {
        .c-banner__col--content {
            margin-left: 50%;
        }
    }
}

@include respond-max ( $mq-large) {

    .c-banner {
        background-color: $light-2;
    }

     .c-banner__background-image-wrap {
         display: none;
     }
     
    .c-banner__col {
        .c-banner__col--content {
            text-align: center;
            margin-left: 0;
            width: 100%;
            padding: 12rem 0 10rem 0;

            .c-banner__heading{

                &::after{
                    background-color: black;
                    margin-left: auto;
                    margin-right: auto;
                }

                span {
                    color: $sec;
                }
            }
        }
    }

    .c-banner__text{
		text-align: center;
		line-height: 3rem;
		font-size: 1.6rem;
	}

	.c-banner__links{
		margin-top: 4rem;
	}

	.flexbox{
		.c-banner__links{
			display: flex;
			justify-content: center;
		}
		.c-banner__link{
			max-width: 100%;
			margin-bottom: 2rem;
			display: flex;
		}
	}

    .c-banner__link-text{
		float: left;
		width: calc(100% - 4rem);
	}
}

@include respond-max ( $mq-small ) {

	.flexbox{
		.c-banner__links{
			display: block;
		}
		.c-banner__link{
			width: 100%;
			margin-bottom: 2rem;
			float: left;
			clear: both;
		}
	}

}
