.c-block__last-week{
	width: 100%;
	float: left;
	background-color: $light-2;
	position: relative;

	.o-heading{

		&::after{
			background-color: $black;
		}

	}

}

.c-block__left{
	float: left;
	width: 50%;
}

.c-block__right{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 100%;
	display: block;
	float: left;
	position: absolute;
	right: 0;
	top: 0;
}

.c-block__padded{
	padding: 5rem 4em 5rem 0;
	box-sizing: border-box;
	position: relative;

	&.has--link{
		padding-bottom: 13rem;
	}

}

.c-block__content-left,.c-block__content-right{
	float: left;
	width: 50%;
}

.c-block__content-left{
	padding-right: 1.5rem;
}

.c-block__content-right{
	padding-left: 1.5rem;

	.c-block__p{
		display: block;
		float: left;
		width: 100%;
		text-align: right;
		font-size: 1.4rem;
		margin-top: 2rem;
	}

}

.c-block__p{
	line-height: 2.5rem;
}

.c-block__read-more{
	color: $pri;
	position: absolute;
	right: 5rem;
	bottom: 5rem;

	&:hover,
	&:focus{
		color: $pri;
		text-decoration: underline;
	}

}

.c-section__total{
	font-size: 9rem;
	font-weight: normal;
	float: right;
    font-family: "bebas-neue", sans-serif;
	display: block;
	line-height: 7rem;
}

.no-enhance{
	.c-client__item{
		display: none;
		&:first-child{
			display: block;
			height: 30rem;
		}
	}
	.c-client__link{
		left: 24.9rem;
		font-size: 1.55rem;
	}
}

@include respond-max($mq-x-large){

	.c-block__left{
		width: 65%;
	}

	.c-block__right{
		width: 35%;
	}

}

@include respond-max($mq-large){

	.c-block__last-week{
		background-color: $white;

		.c-block__left{
			width: 100%;
		}

		.c-block__right{
			display: none;
		}

	}

	.c-block__content-left, .c-block__content-right{
		width: 100%;
		padding: 0;
	}

	.c-block__padded{
		padding: 4rem 0;
	}

	.c-section__total{
		float: none;
		text-align: center;
		margin-top: 6rem;
	}

	.c-block__content-right .c-block__p{
		text-align: center;
	}

	.c-block__read-more{
		display: none;
	}

	.c-block__padded.has--link {
		padding-bottom: 4rem;
	}

}

.c-block__client-review{
	display: inline-block;
	width: 100%;
	padding: 5rem 4rem 5rem 0;
	position: relative;
	background-color: $dark-2;
	*{
		color: white;
	}
	.c-carousel__nav {
		position: absolute;
		bottom: 0;
		padding: 0;
		margin: 8rem 0 0 0;

		&.c-carousel__nav--next{
			right: 4rem;
		}
		&.c-carousel__nav--prev{
			left: 0;
		}
		.ico-chevron-right, .ico-chevron-left{
			font-size: 3rem;
		}
	}
}

.c-client__item{
	padding-right: 5rem;
	margin-top: 4rem;
	position: relative;
	padding-bottom: 10rem;
}

.c-client-review__image{
	width: 9rem;
	height: 9rem;
	display: block;
	float: left;
	border-radius: 50%;
	margin-right: 5rem;
}

.c-client__name{
	font-weight: bold;
	margin-top: 2rem;
	display: block;
	position: absolute;
	bottom: 0;
	margin-bottom: 7rem;
	left: 14rem;
}

.c-client__link{
	background-color: $white;
	border-bottom: 3px solid darken($white,20);
	color: $black;
	font-size: 1.7rem;
	padding: 1rem 4rem;
	display: inline-block;
	border-radius: 6px;
	transition: $ease $speed color,
				$ease $speed background-color,
				$ease $speed border-color;
	position: absolute;
	bottom: 0;
	left: 14rem;
	&:hover,
	&:focus{
		background-color: darken($white,15);
		border-bottom-color: darken($white,30);
		color: black;
	}
}

@include respond-max($mq-large){

	.c-block__client-review{
		padding: 0;

		.c-block__left{
			width: 100%;
		}

		.c-client__p{
			min-height: auto;
		}

		.c-block__headline{
			padding: 4rem 0 3rem 0;
		}

		.c-client__item{
			padding-right: 0;
			padding-bottom: 3rem;
			margin-top: 2rem;
		}

		.c-client-review__image{
			float: none;
			display: block;
			margin: 0 auto;
		}

		.c-client__p{
			width: 100%;
			text-align: center;
			margin-top: 2rem;
		}

		.c-client__name{
			width: 100%;
			text-align: center;
			margin-bottom: 4rem;
			position: initial;
		}

		.c-client__link{
			position: initial;
			margin-top: 4rem;
			display: table;
			margin: 0 auto;
		}

		.c-block__left{

			.c-carousel__nav--prev, .c-carousel__nav--next{
				visibility: hidden;
			}

		}

	}

}

.c-block__video{
	height: 100%;
    display: block;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
	width: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@include respond-max($mq-x-large){

	.c-block__video{
		width: 35%;
	}

}

@include respond-max($mq-large){

	.c-block__video{
		width: 100%;
		height: 40rem;
		top: auto;
		bottom: 0;
	}

	.c-block__client-review{
		padding-bottom: 40rem;
	}

}

.c-video__link {
    display: block;
    width: 100%;
    height: 100%;
	box-sizing: border-box;
	padding: 5rem;
	position: relative;

	&:hover,
	&:focus{

		.c-video__play-btn{
			transform: scale(1.05);
		}

	}

}

.c-heading__centered{
	text-align: center;

	&::after{
		position: relative;
		left: calc(50% - 3rem);
	}

}

.c-video__play-btn{
	width: 8rem;
	height: 8rem;
	background-image: url(../img/play.png);
	display: block;
	background-size: contain;
	position: absolute;
	top: calc(50% - 4rem);
	left: calc(50% - 4rem);
	transition: $ease $speed transform;
}

.c-video{
	margin: 4rem 0;
	display: inline-block;
	width: 100%;
}

.c-video__subpage{
	height: 42.5rem;
}

.c-video__top-title{
	padding: 0;
	margin: 0;
	border-bottom: .1rem solid lighten($dark-1,50);
	padding-bottom: .2rem;
	display: inline-block;
	margin-bottom: 2rem;

	a{
		color: $dark-1;

		&:hover,
		&:focus{
			color: $dark-1;
		}

	}

}

.c-block__staff-member{
	@include column(1/3, $gutter: 10, $cycle: 3);
	margin-bottom: 4rem;
	margin-top: 2rem;
}

.c-staff__heading{
	margin-top: 2rem;
	padding-bottom: .5rem;
}

.c-staff__link{
	display: block;

	*{
		color: black;
	}

}

.c-staff__linkedin{
	margin-top: 1rem;
	color: $pri;
	display: inline-block;

	&:hover,
	&:focus{
		text-decoration: underline;
	}

}

.c-staff__jobtitle{
	color: black;
}

.c-staff__image{
	width: 100%;
	position: relative;
	border-radius: 10px;
}

.c_staff__circle-overlay{
	width: 7.5rem;
	height: 7.5rem;
	background-color: white;
	position: absolute;
	top: calc(50% - 2.75rem);
	left: calc(50% - 3.75rem);
	display: block;
	border-radius: 50%;
	opacity: 0;
	transition: $ease $speed top,
				$ease $speed opacity,
				$ease $speed transform;
	z-index: 4;

	&::before,&::after{
		content: "";
		display: block;
		background-color: $pri;
		position: relative;
		border-radius: .2rem;
	}

	&::before{
		width: 3.5rem;
		height: .4rem;
		top: calc(50% - .2rem);
		left: calc(50% - 1.75rem);
		float: left;
	}

	&::after{
		width: .4rem;
		height: 3.5rem;
		top: calc(50% - 1.75rem);
		left: calc(50% - .2rem);
	}

}

.c-staff__image-has-link{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	&:hover,
	&:focus{

		&::after{
			opacity: 1;
		}

		.c_staff__circle-overlay{
			top: calc(50% - 3.75rem);
			opacity: 1;
		}
	}

	&::after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black,0.5);
		transition: $ease $speed opacity;
		opacity: 0;
		border-radius: 10px;
	}
}

@include respond-max($mq-large){

	.c-block__staff-member{
		width: calc(50% - 3rem);
		margin-bottom: 6rem;

		&:nth-child(odd){
			margin-right: 3rem;
			margin-left: 0;
		}

		&:nth-child(even){
			margin-right: 0;
			margin-left: 3rem;
		}

	}

}

@include respond-max($mq-small){

	.c-block__staff-member{
		width: 100%;
		margin-bottom: 6rem;

		&:nth-child(odd){
			margin-right: 0;
			margin-left: 0;
		}

		&:nth-child(even){
			margin-right: 0;
			margin-left: 0;
		}

	}

}

.flexbox{

	.c-staff_wrapper{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex-flow: row wrap;
	}

}

.no-flexbox{

	.c-staff__linkedin{
		height: 2.2rem;
	}

}

.c-block__page-content{

	.o-heading{

		&::after{
			background-color: black;
		}

	}
}

.c-block__page__content{

	&.has--quote{
		width: calc(100% - 40rem);
		float: left;
	}

}

@include respond-max($mq-x-large){

	.c-block__page__content{

		&.has--quote{
			width: 100%;
		}

	}

}

.c-block__breadcrumb{
	padding: 2rem 0;
	background-color: $light-2;
}
