.c-block__last-week{
	width: 100%;
	float: left;
	background-color: $light-2;
	position: relative;
	.o-heading{
		&::after{
			background-color: $black;
		}
	}
}

.c-block__left{
	float: left;
	width: 50%;
}

.c-block__right{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 100%;
	display: block;
	float: left;
	position: absolute;
	right: 0;
	top: 0;
}

.c-block__padded{
	padding: 5rem 4em 5rem 0;
	box-sizing: border-box;
	position: relative;
	&.has--link{
		padding-bottom: 13rem;
	}
}

.c-block__content-left,.c-block__content-right{
	float: left;
	width: 50%;
}

.c-block__content-left{
	padding-right: 1.5rem;
}

.c-block__content-right{
	padding-left: 1.5rem;
	.c-block__p{
		display: block;
		float: left;
		width: 100%;
		text-align: right;
		font-size: 1.4rem;
		margin-top: 2rem;
	}
}

.c-block__p{
	line-height: 2.5rem;
}

.c-block__read-more{
	color: $pri;
	position: absolute;
	right: 5rem;
	bottom: 5rem;
	&:hover,&:focus{
		color: $pri;
		text-decoration: underline;
	}
}

.c-section__total{
	font-size: 9rem;
	font-weight: normal;
	float: right;
    font-family: "bebas-neue", sans-serif;
	display: block;
	line-height: 7rem;
}

@include respond-max($mq-x-large){
	.c-block__left{
		width: 65%;
	}
	.c-block__right{
		width: 35%;
	}
}

@include respond-max($mq-large){

	.c-block__last-week{
		background-color: $white;
		.c-block__left{
			width: 100%;
		}
		.c-block__right{
			display: none;
		}
	}

	.c-block__content-left, .c-block__content-right{
		width: 100%;
		padding: 0;
	}

	.c-block__padded{
		padding: 4rem 0;
	}

	.c-section__total{
		float: none;
		text-align: center;
		margin-top: 6rem;
	}

	.c-block__content-right .c-block__p{
		text-align: center;
	}

	.c-block__read-more{
		display: none;
	}

	.c-block__padded.has--link {
		padding-bottom: 4rem;
	}
}

.c-block__client-review{
	background-color: $dark-2;
	float: left;
	width: 100%;
	position: relative;
	*{
		color: white;
	}
	.c-block__headline{
		padding: 5rem 4em 5rem 0;
	}
}

.c-client__p{
	float: left;
	width: calc(100% - 14rem);
	font-size: 1.55rem;
}

.c-client__name{
	margin-top: 2rem;
	float: left;
	display: block;
	font-weight: bold;
}

.c-client__item{
	padding-bottom: 14rem;
	padding-right: 5rem;
}

.c-client-review__image{
	width: 8rem;
	height: 8rem;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 6rem;
	float: left;
}

.c-client__link{
	background-color: white;
	color: black;
	display: inline-block;
	padding: 1.25rem 4rem;
	border-radius: 5px;
	border-bottom: 4px solid darken($light-2,20);
	transition: $ease $speed border-color,
				$ease $speed background-color;
	position: absolute;
	bottom: 5rem;
	width: 200px;
	left: calc(50% - 100px);
	&:hover,&:focus{
		color: black;
		background-color: darken(white,10);
		border-bottom-color: darken($light-2,30);
	}
}

.c-block__left{
	.c-carousel__nav--prev,.c-carousel__nav--next{
		background-color: transparent;
		font-size: 3rem;
		position: absolute;
		bottom: 0;
		height: 5rem;
		top: calc(100% - 7.5rem);
		&:focus,&:hover{
			background-color: transparent;
		}
	}
	.c-carousel__nav--prev{
		left: 8rem;
	}
	.c-carousel__nav--next{
		right: 8rem;
	}
}

@include respond-max($mq-large){
	.c-block__client-review{

		.c-block__left{
			width: 100%;
		}

		.c-client__p{
			min-height: auto;
		}

		.c-block__headline{
			padding: 4rem 0 3rem 0;
		}

		.c-client__item{
			padding-right: 0;
			padding-bottom: 14rem;
		}

		.c-client-review__image{
			float: none;
			display: block;
			margin: 0 auto;
		}

		.c-client__p{
			width: 100%;
			text-align: center;
			margin-top: 2rem;
		}

		.c-client__name{
			width: 100%;
			text-align: center;
		}

		.c-client__link{
			bottom: 4rem;
		}

		.c-block__left{
			.c-carousel__nav--prev, .c-carousel__nav--next{
				visibility: hidden;
			}
		}
	}
}

.c-block__video{
	height: 100%;
    display: block;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
	width: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@include respond-max($mq-x-large){
	.c-block__video{
		width: 35%;
	}
}

@include respond-max($mq-large){
	.c-block__video{
		width: 100%;
		height: 40rem;
		top: auto;
		bottom: 0;
	}

	.c-block__client-review{
		padding-bottom: 40rem;
	}
}

.c-video__link {
    display: block;
    width: 100%;
    height: 100%;
	box-sizing: border-box;
	padding: 4rem;
	position: relative;
	&:hover,&:focus{
		.c-video__play-btn{
			transform: scale(1.05);
		}
	}
}

.c-heading__centered{
	text-align: center;
	&::after{
		position: relative;
		left: calc(50% - 3rem);
	}
}

.c-video__play-btn{
	width: 8rem;
	height: 8rem;
	background-image: url(../img/play.png);
	display: block;
	background-size: contain;
	position: absolute;
	top: calc(50% - 4rem);
	left: calc(50% - 4rem);
	transition: $ease $speed transform;
}

.c-video{
	margin: 4rem 0;
	display: inline-block;
	width: 100%;
}

.c-video__subpage{
	height: 42.5rem;
}

.c-video__top-title{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid lighten($dark-1,50);
	padding-bottom: .2rem;
	display: inline-block;
	margin-bottom: 2rem;
	a{
		color: $dark-1;
		&:hover,&:focus{
			color: $dark-1;
		}
	}
}



.c-staff_wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: row wrap;
}
.c-block__three-two-one{
	float: left;
	width: calc(33.3333% - 6rem);
	margin-bottom: 6rem;
	position: relative;
	&:nth-child(3n+1){
		margin-right: 6rem;
	}
	&:nth-child(3n+2){
		margin-right: 3rem;
		margin-left: 3rem;
	}
	&:nth-child(3n+3){
		margin-left: 6rem;
	}
}
.c-staff__heading{
	margin-top: 2rem;
	padding-bottom: .5rem;
}
.c-staff__link{
	display: block;
	*{
		color: black;
	}
}
.c-staff__linkedin{
	margin-top: 1rem;
	color: $pri;
	display: inline-block;
	&:hover{
		text-decoration: underline;
	}
}
.c-staff__jobtitle{
	color: black;
}
.c-staff__image{
	width: 100%;
	position: relative;
}
.c_staff__circle-overlay{
	width: 75px;
	height: 75px;
	background-color: white;
	position: absolute;
	top: calc(50% - 27.5px);
	left: calc(50% - 37.5px);
	display: block;
	border-radius: 50%;
	opacity: 0;
	transition: $ease $speed top,
				$ease $speed opacity,
				$ease $speed transform;
	z-index: 4;
	&::before,&::after{
		content: "";
		display: block;
		background-color: $pri;
		position: relative;
		border-radius: 2px;
	}
	&::before{
		width: 35px;
		height: 4px;
		top: calc(50% - 2px);
		left: calc(50% - 17.5px);
		float: left;
	}
	&::after{
		width: 4px;
		height: 35px;
		top: calc(50% - 17.5px);
		left: calc(50% - 2px);
	}
}
.c-staff__image-has-link{
	position: relative;
	&:hover{
		&::after{
			opacity: 1;
		}
		.c_staff__circle-overlay{
			top: calc(50% - 37.5px);
			opacity: 1;
		}
	}
	&::after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black,0.5);
		transition: $ease $speed opacity;
		opacity: 0;
	}
}
@include respond-max($mq-large){
	.c-block__three-two-one{
		width: calc(50% - 3rem);
		margin-bottom: 6rem;
		&:nth-child(odd){
			margin-right: 3rem;
			margin-left: 0;
		}
		&:nth-child(even){
			margin-right: 0;
			margin-left: 3rem;
		}
	}
}
@include respond-max($mq-small){
	.c-block__three-two-one{
		width: 100%;
		margin-bottom: 6rem;
		&:nth-child(odd){
			margin-right: 0;
			margin-left: 0;
		}
		&:nth-child(even){
			margin-right: 0;
			margin-left: 0;
		}
	}
}
