/* ===========================================================

	# Carousel

=========================================================== */

.js-carousel {

	.c-carousel__item {
		display: none;
	}

	.c-carousel__item--first {
		display: block;
	}

	&.slick-initialized {

		.c-carousel__item {
			display: block;
		}

	}
}

.js-carousel_many, .js-carousel{

	&.slick-nav-black{
		.c-carousel__right,.c-carousel__left{
			&::before,&::after{
				background-color: black;
			}

		}

	}

}

.c-carousel {
	position: relative;
}

.c-carousel__nav {
	position: absolute;
	top: calc(50% - 1.75rem);
	width: 1.25rem;
	height: 3.5rem;
	display: block;
}

.c-carousel__right,.c-carousel__left{

	&::before,&::after{
		content: "";
		display: block;
		width: 1.75rem;
		height: .3rem;
		background-color: white;
		position: relative;
	}

}

.c-carousel__left{

	&::before{
		transform: rotate(-65deg);
		top: -.7rem;
	}

	&::after{
		transform: rotate(65deg);
		top: .6rem;
	}

}

.c-carousel__right{

	&::before{
		transform: rotate(65deg);
		top: -.7rem;
	}

	&::after{
		transform: rotate(-65deg);
		top: .6rem;
	}

}

.c-carousel__nav--prev {
	left: 0;
}

.c-carousel__nav--next {
	right: 0;
}

.c-carousel--invert {

	.c-carousel__nav {
		color: $white;
		opacity: .5;
		transition: opacity $speed $ease;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

}

/* dots */

.c-carousel__dots {
    position: relative;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        width: 2.1rem;
		height: 2.1rem;
        margin: 0 .5rem;
        padding: 0;
        cursor: pointer;
	}

    button {
        border: .2rem solid $pri;
        background: transparent;
        display: block;
        height: 2.1rem;
        width: 2.1rem;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: .5rem;
        cursor: pointer;
		border-radius: 50%;
		transition: background-color $speed $ease,
					border-color $speed $ease;

        &:hover,
		&:focus {
            outline: none;
			background-color: $pri;
        }
    }

	.slick-active {

		button {
			background-color: $pri;
		}

	}

}

.c-carousel--invert {

	.c-carousel__dots {

		button {
			border-color: $white;
		}

		li {
			&.slick-active {
				background-color: $white;
			}

			&:hover,
			&:focus {
				background-color: $white;
			}
		}

	}

}

.c-carousel--images {
	.c-carousel__dots {
		position: absolute;
		bottom: $line-height;;
	}
}


@include respond-min( $mq-large ) {

	.c-carousel__nav {
		font-size: 4.8rem;
	}

}
