.c-header__search {
    float: left;
    padding: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-left: .1rem solid lighten($dark-1, 10);
    border-right: .1rem solid lighten($dark-1, 10);
    cursor: pointer;

    i {
        color: lighten($dark-1, 45);
    }
}
