/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background-color: $white;
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
}

.c-header__main{
	box-shadow: 0 .1rem 2rem .1rem rgba($dark-1,.1);
}

.c-header__super {
	background-color: $dark-1;
	display: none;
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
	transition: $ease $speed transform,
				$ease $speed margin-top,
				$ease $speed margin-bottom;
}

.c-header__logo-image {
	width: 9.3rem;
	transition: $ease $speed width;
}

.c-nav__link{
	transition: $ease $speed padding-top,
				$ease $speed padding-bottom;
}

.c-header__toggle-menu-button {
	display: none;
}

.c-header__search__sticky{
	display: none;
}

/* Sticky Styling */
.c-header.js-sticky{
	.c-header__super{
		/* To fix the jolt when the header__main is position fixed. */
		margin-bottom: 93px;
	}

	.c-header__main{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: white;
		z-index: 999;
	}
}

.c-header.js-sticky.js-smaller{
	.c-header__logo-link{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		transform: scale(0.95);
	}

	.c-nav__link{
		padding-top: 2.65rem;
		padding-bottom: 2.65rem;
	}

	.c-header__logo-image{
		width: 15.5rem;
	}

	.c-header__cta__item{
		display: none;
	}

	.c-header__cta__item--phone{
		display: block;
	}

	.c-header__search__sticky{
		display: block;
		width: 10rem;
		border-left: 1px solid rgba($black,0.2);
		background-color: white;
		transition: $speed $ease background-color;
		i{
			font-size: 2rem;
			color: rgba($black,0.35);
			position: relative;
		    left: calc(50% - 1rem);
		    top: calc(50% - 1rem);
			transition: $speed $ease color;
		}

		&:hover,&:focus{
			cursor: pointer;
			background-color: $pri;
			i{
				color: white;
			}
		}
	}
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $pri;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: $sec;
			}
		}

		.c-header__logo-link {
			position: relative;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.c-header__logo-link {
		margin-left: 2rem;
	}

}

@include respond-min( $mq-medium ) {

	.c-header__logo-link {
		margin-top: 1.7rem;
		margin-bottom: 1.7rem;
		margin-left: 4rem;
	}

}

@include respond-min( $mq-large ) {

	.c-header__super {
		display: block;
		min-height: 4.2rem;
		@include clearfix();
	}

	.c-header__right {
		width: 25%;
		float: right;
	}

	.c-header__super__right {
		position: relative;
		text-align: center;
	}

	.no-flexbox {

		.c-header__super__left {
		    position: relative;
		    padding-right: 25%;
		}

		.c-header__right {
			position: absolute;
			right: 0;
		}
	}

	.flexbox {

		.c-header__super {
			display: flex;
		}

		.c-header__super__left {
			flex: 1 1 auto;
		}
	}



	.c-header__logo-link {
		margin-top: 2.8rem;
	}

	.c-header__logo-image {
		width: 15.5rem;
	}

	.c-header__inner {
		float: left;
	}

}

@include respond-min( $mq-x-large ) {

	.c-header__super__right {
		text-align: center;
	}

	.c-header__logo-link {
		margin-left: 6rem;
	}

	.c-header__logo-image {
		width: 18.5rem;
	}

	.flexbox {
		.c-header__main {
			display: flex;
		}

		.c-header__main__left {
			flex: 1 1 auto;
		}

		.c-header__main__right {
			display: flex;
		}
	}

	.no-flexbox {
		.c-header__main {
		    position: relative;
		    padding-right: 25%;
		}

		.c-header__main__right {
			height: 100%;
			background-color: $pri;
		}
	}
}
