/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background-color: $white;
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
	box-shadow: 0 .1rem 2rem .1rem rgba($dark-1,.1);
}

.c-header__super {
	background-color: $dark-1;
	display: none;
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 1.5rem;
}

.c-header__logo-image {
	width: 9.3rem;
}

.c-header__toggle-menu-button {
	display: none;
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $pri;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: $sec;
			}
		}

		.c-header__logo-link {
			position: relative;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.c-header__logo-link {
		margin-left: 2rem;
	}

}

@include respond-min( $mq-medium ) {

	.c-header__logo-link {
		margin-top: 1.7rem;
		margin-bottom: 1.7rem;
		margin-left: 4rem;
	}

}


@include respond-min( $mq-large ) {

	.c-header__super {
		display: block;
		min-height: 4.2rem;
		@include clearfix();
	}

	.c-header__right {
		width: 25%;
		float: right;
	}

	.c-header__super__right {
		position: relative;
		text-align: center;
	}

	.no-flexbox {
		.c-header__main {
		    position: relative;
		    padding-right: 25%;
		}

		.c-header__right {
			position: absolute;
			right: 0;
		}

		.c-header__main__right {
			height: 100%;
			background-color: $pri;
		}
	}

	.flexbox {
		.c-header__super,
		.c-header__main {
			display: flex;
		}

		.c-header__left {
			flex: 1 1 auto;
		}

		.c-header__main__right {
			display: flex;
		}

	}

	.c-header__logo-link {
		margin-top: 2.8rem;
	}

	.c-header__logo-image {
		width: 15.5rem;
	}

	.c-header__inner {
		float: left;
	}

}

@include respond-min( $mq-x-large ) {

	.c-header__super__right {
		text-align: center;
	}

	.c-header__logo-link {
		margin-left: 6rem;
	}

	.c-header__logo-image {
		width: 18.5rem;
	}

}


