.c-nav__item{
	list-style-type: none;
}

.c-nav__link{
	font-weight: bold;

	&:hover,
	&:focus{
		color: $white;
	}

}

@include respond-max ( $mq-large ) {

	.c-header__nav-wrap{
		position: fixed;
		top: 0;
		transform: translate(calc(100% + 6rem),0);
		width: calc(100% - 6rem);
		background-color: $pri;
		height: 100vh;
		transition: $ease $speed transform;
		box-shadow: inset .5rem 0 3rem rgba($black,0.2);

		&.js-nav-active{
			transform: translate(6rem,0);
		}

	}

	.c-nav--main{
		padding-top: 8rem;
		position: relative;
	}

	.c-nav__item{
		margin: .75rem 2rem;
		padding: .8rem 0;
	}

	.c-nav__link{
		font-size: 2.1rem;
		color: $white;

		&:hover,
		&:focus{
			text-decoration: underline;
			color: white;
		}

	}

	.c-nav__sub-chevron{
		display: inline-block;
		content: "";
		width: 2rem;
		height: 2rem;
		margin-left: 5rem;
		position: relative;
		top: .3rem;
		cursor: pointer;

		&::before,&::after{
			content: "";
			display: block;
			width: 1rem;
			height: .2rem;
			background-color: white;
			position: relative;
		}

		&::before{
			transform: rotate(55deg);
			top: .6rem;
		}

		&::after{
			transform: rotate(-55deg);
			top: 1.1rem;
		}

	}

	.c-nav__list--sub{
		transform: translate(calc(100% + 2rem),0);
		position: absolute;
		top: 1.5rem;
		padding-top: 4.5rem;
		width: calc(100% - 4rem);
		height: calc(100vh - 1.5rem);
		background-color: $pri;
		z-index: 999;
		transition: $ease $speed transform;

		&.js-active{
			transform: translate(0,0);
		}

	}

	.c-nav__close{
		color: white;
		display: block;
		font-size: 2rem;
		font-weight: bold;
		opacity: .75;
		position: absolute;
		top: 0;
		left: 4rem;
		cursor: pointer;

		.c-nav__close-icon{
			width: 2rem;
			height: .3rem;
			background-color: white;
			display: block;
			position: relative;
			top: 1.2rem;
			left: -3rem;

			&::before,&::after{
				content: "";
				display: block;
				width: 1.2rem;
				height: .3rem;
				position: relative;
				background-color: white;
				left: -.2rem;
			}

			&::before{
				transform: rotate(-45deg);
				top: -.4rem;
			}

			&::after{
				transform: rotate(45deg);
			}

		}

		&:hover,
		&:focus{
			text-decoration: underline;
		}
	}

	/* Mobile Menu Toggle */
	.c-page__wrapper,footer{
		transition: $ease $speed right;
		right: 0%;
		position: relative;

		&.js-nav-active{
			right: 50%;
		}

	}

}

@include respond-min ( $mq-large ){

	.c-nav__close{
		display: none;
	}

	.c-nav__item{
		float: left;
		margin: 0;
		position: relative;

		&:hover,
		&:focus{
			color: white;

			.c-nav__link{
				background-color: $pri;
				color: white;
			}

			.c-nav__list--sub{
				visibility: visible;
				opacity: 1;

				.c-nav__item:hover{
					.c-nav__link{
						background-color: white;
						color: $pri;
					}

				}

			}

		}

	}

	.c-nav__link{
		color: $dark-1;
		padding: 3rem 2rem;
		display: block;
		transition: $ease $speed background-color,
					$ease $speed color,
					$ease $speed padding;

		&.is-active{
			color: $pri;
		}

		&:hover,
		&:focus{
			background-color: $pri;
			color: white;
		}

	}

	.c-nav__list--sub{
		background-color: $pri;
		display: block;
		min-width: 20rem;
		position: absolute;
		top: 8.2rem;
		left: 0;
		visibility: hidden;
		opacity: 0;
		margin-top: 0;
		transition: $ease $speed opacity,
					$ease $speed visbility;

		.c-nav__item{
			display: block;
			float: none;
		}

		.c-nav__link{
			color: white;
			padding: 1.5rem 2rem;
		}

	}

	.c-header.js-smaller{

		.c-nav__list--sub{
			top: 6.6rem;
		}

	}

}
