.c-staff__popup-page__wrapper{
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    max-width: 800px;
    display: block;
    margin: 2rem auto;
    padding: 4rem;
    box-sizing: border-box;
    position: relative;
}

.c-staff__close{
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    display: block;
    cursor: pointer;
    &::before{
        content: "";
        display: block;
        position: relative;
        transform: rotate(45deg);
        width: 20px;
        height: 2px;
        background-color: black;
        top: 2px;
    }
    &::after{
        content: "";
        display: block;
        position: relative;
        transform: rotate(-45deg);
        width: 20px;
        height: 2px;
        background-color: black;
    }
}

.c-staff__text-wrapper{
    margin-top: 2rem;
    p{
        line-height: 2.5rem;
    }
}

@include respond-max($mq-medium){
    .c-staff__popup-page__wrapper{
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 2rem;
    }
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}