/* ===========================================================

	# Quote

=========================================================== */

.c-quote {
	background-color: $light-2;
	padding: 5rem 8rem;
	text-align: center;
	&.is--highlighted{
		background-color: $red;
		*{
			color: white;
		}
	}
	&.o-align--left,&.o-align--right{
		padding: 5rem 3rem;
	}
}

.c-quote__heading{
	&::after{
		display: none;
	}
}

.c-quote__source{
	font-weight: bold;
}

@include respond-max($mq-large){

	.c-quote {
		padding: 4rem 2rem;
	}

	.c-quote__source{
		margin-top: 1rem;
	}

}

.c-quote__page-quote{
	float: right;
	width: 35rem;
	background-color: $light-2;
	padding: 3rem;
	box-sizing: border-box;
	text-align: center !important; /* Override the include column text-align */
}

.c-quote__title{
	text-transform: uppercase;
}

@include respond-max($mq-x-large){

	.c-quote__page-quote{
		display: none;
	}

}
