/* ===========================================================

	# Quote

=========================================================== */

.c-quote {
	background-color: $light-2;
	padding: 5rem 8rem;
	text-align: center;
}

.c-quote__heading{
	&::after{
		display: none;
	}
}

.c-quote__source{
	font-weight: bold;
	margin-top: 3rem;
}

@include respond-max($mq-large){
	.c-quote {
		padding: 4rem 2rem;
	}
	.c-quote__source{
		margin-top: 1rem;
	}
}
