/* ===========================================================

	# Quote

=========================================================== */

.c-quote {
	background-color: $light-2;
	padding: 5rem 8rem;
	text-align: center;
}

.c-quote__heading{
	&::after{
		display: none;
	}
}

.c-quote__source{
	font-weight: bold;
	margin-top: 3rem;
}

@include respond-max($mq-large){

	.c-quote {
		padding: 4rem 2rem;
	}

	.c-quote__source{
		margin-top: 1rem;
	}

}

.c-quote__page-quote{
	float: right;
	width: 35rem;
	background-color: $light-2;
	padding: 3rem;
	box-sizing: border-box;
	text-align: center;
}

.c-quote__title{
	text-transform: uppercase;
}

@include respond-max($mq-x-large){

	.c-quote__page-quote{
		display: none;
	}

}
