.c-service{
	display: inline-block;
	width: 100%;
}

.c-services__image{
	transition: $ease $speed transform;
}

.c-services__item{
	width: calc(33.3333% - 8rem);
	float: left;

	&:nth-child(3n+1){
		margin-right: 8rem;
	}

	&:nth-child(3n+2){
		margin: 0 4rem;
	}

	&:nth-child(3n+3){
		margin-left: 8rem;
	}

	&:hover{
		.c-services__read-more{
			text-decoration: underline;
		}
		.c-services__image{
			transform: scale(1.05);
		}
	}
}

.c-services__page-link{
	border-bottom: none !important;
}

.c-services__image-wrapper{
	background-color: $light-2;
	width: 100%;
	height: 22.5rem;
}

.c-services__title{
	color: $dark-1;
	border-bottom: .1rem solid $dark-2;
	margin-top: 3rem;
	margin-bottom: 2rem;
	padding: 0 0 .2rem 0;
	display: inline-block;
}

.c-services__paragraph{
	color: $dark-2;
	line-height: 3rem;
}

.c-services__read-more{
	margin-top: 3rem;
	display: block;

	&:hover,
	&:focus{
		text-decoration: underline;
	}

}

.c-services__item{
	min-height: 55rem;
}

.flexbox{

	.c-services__image-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

.no-flexbox{

	.c-services__image{
		position: relative;
		left: calc(50% - 5rem);
		top: calc(50% - 5rem);
	}

}

.no-enhance{
	.c-services__image{
		position: relative;
		left: calc(50% - 62.5px);
		top: calc(50% - 62.5px);
	}
}

@include respond-max($mq-x-large){

	.c-services__item{
		width: calc(33.3333% - 3rem);
		float: left;

		&:nth-child(3n+1){
			margin-right: 3rem;
		}

		&:nth-child(3n+2){
			margin: 0 1.5rem;
		}

		&:nth-child(3n+3){
			margin-left: 3rem;
		}

	}

}

@include respond-max($mq-large){

	.flexbox .c-service-flex-container, .no-flexbox .c-service-flex-container{
		display: block;
	}

	.c-services__item{
		width: 100%;
		float: left;
		margin: 0 0 8rem 0!important;
		min-height: auto;
	}

}

.c-section_wrapper{

	.o-heading strong{
		font-weight: normal;
	}

	.o-heading::after{
		background-color: black;
	}

}

.c-section__first-para{
	margin-bottom: 3rem;
}

.c-services__list{
	border-radius: .6rem;
	overflow: hidden;
	margin-bottom: 6rem;
}

.c-services__li{
	margin: 0;
	padding: 0;
	list-style-type: none;

	&:last-child{
		.c-services__link{
			border-bottom: none;
		}

	}

}

.c-services__link{
	color: white;
	display: block;
	padding: 2rem 3rem;
	border-bottom: .1rem solid darken($pri,10);
	background-color: $pri;
	transition: $ease $speed background-color,
				$ease $speed color;

	&.is-active{
		background-color: $light-2;
		color: $dark-1;
		border-bottom: none;
	}

	&:hover,
	&:focus{
		background-color: $light-2;
		color: $dark-1;
	}

}

.c-service__need-help{
	background-color: $light-2;
	text-align: center;
	padding: 4rem;
	border-radius: .5rem;
}

.c-nee-help__title{
	line-height: 3.5rem;
}

.c-need-help__logo{
	max-width: 20rem;
	display: block;
	margin: 2rem auto 4rem auto;
}

.c-need-help__link{
	display: block;
	color: black;
	font-size: 2.5rem;

	span{
		font-weight: bold;
		display: block;
		margin-top: 1rem;
	}

}

/* Mobile First Service Item Page */
@include respond-max($mq-x-large){

	.c-section_wrapper{
		padding-right: 4rem;
	}

	.c-service{
		margin: 5rem 0;
	}

	.c-service__page-list{
		display: inline-block;
		width: 100%;
	}

	.c-service__content{
		display: inline-block;
		width: 100%;
	}

	.c-service__need-help{
		display: none;
	}

	.flexbox{

		.c-section_wrapper{
			display: flex;
			flex-direction: column;
		}

		.c-service__page-list{
			order: 2;
			margin-top: 8rem;
		}

		.c-service__content{
			order: 1;
		}

	}

}

@include respond-min($mq-x-large){

	.c-service__page-list{
		width: 28rem;
		float: left;
	}

	.c-service__content{
		float: right;
		width: calc(100% - 38.5rem);
	}

}

@include respond-max($mq-large){
	.no-enhance{
		.c-service__page-list{
			display: none;
		}
	}
}
