@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();

    if (settings == null)
    {
        return;
    }

    var extraClass = ViewData["extraClass"] ?? "";


    var tel = settings.GetPropertyValue<string>("contactNumber");
    var email = settings.GetPropertyValue<string>("emailAddress");
}
<span class="c-header__search__sticky">
	<i class="ico-finder"></i>
    <i class="ico-close"></i>
</span>
<div class="c-header__cta @extraClass">
	<!-- <span class="c-header__search__scroll">
		<i class="ico-finder"></i>
	</span> -->
    <span class="c-header__cta__item c-header__cta__item--phone">
        <a href="tel:@tel">
            <i class="ico-phone"></i>
            <strong><span class="mediahawkNumber1849 mhMobile">@tel</span></strong>
        </a>
    </span>
    <span class="c-header__cta__item c-header__cta__item--email">
        <a href="mailto:enquiries@themailingpeople.co.uk" onclick="ga('send', 'event', 'emailclick', 'enquiries@themailingpeople.co.uk');">@email</a>
    </span>
</div>
