@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();

    if (settings == null)
    {
        return;
    }

}

<div class="o-section c-newsletter">
    <div class="o-wrap o-wrap--x-large c-newsletter__inner">
        <h2 class="u-uppercase o-heading o-heading--white o-heading--center u-mega">Keep up to date</h2>
        <div class="c-newsletter__info u-center-content u-space-bottom">
            <p>Subscribe to our occasional e-shots for the easy way to stay on top of direct mail trends, articles, news and developments.</p>
        </div>
        <form class="c-newsletter__form" action="https://thegraphicdesignhouse.createsend.com/t/t/s/aalhd/" method="post" id="subForm">
            <fieldset class="c-newsletter__fieldset">
                <legend class="u-hide-text">Newsletter subscribe</legend>
                <div class="c-newsletter__field-wrap">
                    <div class="c-newsletter__field c-newsletter__field--input">
                        <label class="c-newsletter__label u-hide-text" for="fieldEmail">Email address</label>
                        <input class="c-newsletter__input" id="fieldEmail" name="cm-aalhd-aalhd" placeholder="Enter your email address" type="email" required>
                    </div>
                    <div class="c-newsletter__field c-newsletter__field--submit">
                        <button type="submit" class="c-button c-button--primary c-newsletter__button">Send form</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <img class="c-newsletter__image" src="/assets/img/steve-trans.png" alt="Mr Steve - The Mailing People">
    </div>
</div>
