@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();
    var list = settings.GetPropertyValue<IEnumerable<IPublishedContent>>("socialIcons");
    if(list == null)
    {
      return;
    }
	var extraClass = ViewData["extraClass"] ?? "";
}

<div class="c-social @extraClass u-clearfix">
	@foreach(var item in list)
	{
		var itemUrl = item.GetPropertyValue("socialPlatformLink");
		var type = item.GetPropertyValue<string>("socialPlatformName");
		var typeLower = type.ToLower().Replace("+","");
		<a href="@itemUrl" title="Go to our @type page (external link)" class="c-social__link c-social__link--@type" target="_blank">
	        <i class="ico-@typeLower"></i> <span class="u-hide-text">@type</span>
	    </a>
	}
</div>
