@inherits UmbracoViewPage<IPublishedContent>
@{
	var PageQuote = Model.GetPropertyValue<string>("pageQuote");
	var PageSource = Model.GetPropertyValue<string>("pageSource");
}
<h2 class="o-heading c-block__headline u-alpha u-uppercase c-section c-quote__heading">@PageQuote</h2>
@if(!string.IsNullOrWhiteSpace(PageSource))
{
	<p class="c-quote__source">@PageSource</p>
}
