/* ===========================================================

  # Utilities

=========================================================== */

.u-strong {
    font-weight: $bold;
}

.u-light {
    font-weight: 300;
}

.u-highlight-text {
    color: $pri;
}

.u-uppercase {
    text-transform: uppercase;
}
